{{ ansible_managed | comment }}

#
# Ensure ssh-agent is running
#
if [ ! -S ~/.ssh/ssh_auth_sock ] ; then
   eval $(ssh-agent -s)
   ln -sf "$SSH_AUTH_SOCK" ~/.ssh/ssh_auth_sock
fi

export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock
